out/index.html
<!DOCTYPE html><html><head><title>Dual-Lite | Setup</title><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable = no"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black"><link rel="icon" href="favicon.ico" type="image/x-icon"><link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"></head><body><div class="nav"><a class="wlan" href="https://www.hubbell.com/dual-lite/en/" data-bypass target="_blank"><div class="logo"></div></a><ul></ul></div><div class="main"><div class="menu"><span></span><span></span><span></span></div><div class="loader initial"><div class="loading"><div class="path"><div class="circle"></div></div><div class="path"><div class="circle"></div></div><div class="path"><div class="circle"></div></div></div></div><div class="brand"></div></div><div class="overlay"></div><script type="text/javascript">function loadAsset(a){a.el=document.createElement(a.tag);for(var b=0;b<Object.keys(a.attrs).length;b++)a.el[Object.keys(a.attrs)[b]]=a.attrs[Object.keys(a.attrs)[b]];document[a.pos].appendChild(a.el),a.el.addEventListener("load",assetLoad),a.el.addEventListener("error",assetErr)}function assetLoad(a){assetsLoaded++,assetsLoaded===assets.length&&"undefined"==typeof _webapp&&(top.location="/.recovery.html")}function assetErr(a){console.error("webapp error!")}var assetsLoaded=0,assets={"/webapp/gecko-os.css":{pos:"head",tag:"link",attrs:{rel:"stylesheet",type:"text/css",href:"/webapp/gecko-os.css"},attempt:1},"/webapp/gecko-os.js":{pos:"body",tag:"script",attrs:{type:"text/javascript",src:"/webapp/gecko-os.js"},attempt:1}};Object.keys(assets).forEach(function(a){loadAsset(assets[a])});</script></body></html>

public/views/index.pug
doctype html
html
  head
    //-
      * Gecko OS Web App, Gecko OS JS API Library & Gecko OS JS Build System
      *
      * Copyright (C) 2019, Silicon Labs
      * All Rights Reserved.
      *
      * The Gecko OS Web App, Gecko OS JavaScript API and Gecko OS JS build system are
      * provided by Silicon Labs. The combined source code, and all derivatives, are licensed
      * by Silicon Labs SOLELY for use with devices manufactured by Silicon Labs, or hardware
      * authorized by Silicon Labs.
      *
      * THIS SOFTWARE IS PROVIDED BY THE AUTHOR 'AS IS' AND ANY EXPRESS OR IMPLIED
      * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
      * MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
      * SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
      * EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
      * OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
      * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
      * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
      * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
      * OF SUCH DAMAGE.
    title Dual-Lite | Setup
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable = no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
  body
    div.nav
      a.wlan(href="https://www.hubbell.com/dual-lite/en/", data-bypass, target="_blank")
        div.logo
      ul
    div.main
      div.menu
        span
        span
        span
      div.loader.initial
        div.loading
          div.path
            div.circle
          div.path
            div.circle
          div.path
            div.circle
      div.brand
    div.overlay
    script(type='text/javascript')
      include js/index.min.js
